body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url('../img/backg.jpg') no-repeat center center fixed; */
  background: url('../img/bgimg.webp');
  background-size: cover;

}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: inset;


}

form {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: solid 1px rgb(75, 110, 237);
  border-radius: 7px;
}

form h3 {
  margin-bottom: 20px;
  color: #fff;
}

form h2 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.colar {
  color: #ffffff;
}

.input-container {
  position: relative;
  margin-bottom: 20px;

}

.input-container input {
  width: 425px;
  padding: 10px;
  padding-left: 40px;
  border: none;
  border-radius: 5px;

}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aaa;
  font-size: 14px;
  margin-top: -14px;
}


button {
  background-color: #0063B8;
  color: white;
  border: none;
  border: radius 8px !important;
  padding: 10px;
  cursor: pointer;
  width: 425px;
  font-size: 16px;
  margin-top: 16px;
}

button:hover {
  background-color: #ddd;
  color: black;
}

p {
  color: #aaa;
  font-size: 14px;
}

p a {
  color: #fff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


.mcdlogo {
  color: #373184;
  margin-top: -4px;
  font-size: 25px;


}


/* animation border */


.animated-border {
  padding: 20px;
  border-radius: 10px;
  border: 5px solid;
  background: #fff;
  /* Background color for the content */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.animated-border::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #4fc3f7, #84fab0);
  background-size: 600% 600%;
  z-index: -1;
  border-radius: 15px;
  animation: gradient-border 8s ease infinite;
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}