.support {
    height: 100%;
    width: 90%;
    text-align: center;


}

.row {
    background-color: rgb(228, 225, 225);
    padding: 6px;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 4px;
    margin: 4px
}


Col {
    background-color: rgb(228, 225, 225);
    padding: 6px;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 4px;
    margin: 4px
}

.services3 {
    width: 100%;


background: rgba(255, 255, 255, 0.1);
border-radius: 10px;
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
padding: 20px;
/* width: 400px; */
/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
/* text-align: center; */
border: solid 1px rgb(75, 110, 237);
border-radius: 7px;
}