* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.reports,
.contact,
.events,
.support {
    display: flex;
    margin-left: 260px;
    font-size: 1rem;
}


.contain {
    display: --webkit-box-box;
}